/**
 * A file for storing global colors
 */

$blue: #5C76FF;
$dark-blue: #2B00A7;
$white: #FFFFFF;
$light-grey: #DDDDDD;
$mid-grey: #696969;

// Text colors
$text-grey: #323232;
$text-grey-light: #6b6767
