/**
 * Spacing Variables
 */

/**
 * Padding/margin sizes
 */
$tiny:      0.25rem;
$small:     0.5rem;
$standard:  1rem;
$m-large:   1.5rem;
$large:     2rem;
$x-large:   6rem;


/**
 * Screen sizes
 */
$mobile-max-width: 800px;

$desktop-min-width: 801px;

$small-desktop-max-width: 1000px;

$large-desktop-min-width: 1000px;
