<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ page.title | default: site.title }}</title>


    <!-- Import Roboto from Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,600,600i,700,700i" rel="stylesheet" type="text/css">

    <!-- Pull in main CSS & JS -->
    <link href="./css/main.css" rel="stylesheet">
    <script src="./{% ministamp _assets/main.js _assets/main.js %}" defer></script>

    <!-- List stylesheets specified for each page -->
    {% for stylesheet in page.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}

    <!-- Mark all page specific JS deferred since they shouldn't block render -->
    {% for script in page.scripts %}
    {% if stylesheet contains "http" %}
      <!-- If a full URL, just use it as is -->
      <script src="{{ script }}" defer></script>
    {% else %}
      <!-- If a local CSS file, run through ministamp for asset fingerprinting -->
       <script src="./{% ministamp { source_path: '_assets/{{ script }}', destination_path: '_assets/{{ script }}' } %}" defer></script>
    {% endif %}
    {% endfor %}
  </head>
  <body>
    {{ content }}
  </body>
</html>