/**
 * Global animations, often for <transtion> elements. Document each with a clear
 * doc block.
 */


/**
 * Fade animation for transitioning between elements, typically with something
 * like: `<transition name="fade" mode="out-in">`
 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/**
 * Slide Fade. Use with `<transition name="slide-fade">`
 */
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter-from, .slide-fade-leave-to {
  transform: translateX(10rem);
  opacity: 0;
}

/**
 * Vertical Slide Fade. Use with `<transition name="vert-slide-fade">`
 *
 */
.vert-slide-fade-enter-active, .vert-slide-fade-leave-active {
  transition: all 0.5s ease;
}
.vert-slide-fade-enter-from, .vert-slide-fade-leave-to {
  transform: translateY(-10rem);
  opacity: 0;
}


/**
 * A skewed fall in animation for the board tiles - since it's rotated 45
 * degrees this has to move on the X and Y axis at once.
 */
@keyframes tileFallIn {
  0% {
    transform: translate(-150%, -150%);
  }

  75% {
    transform: translate(2%, 2%);
  }

  100% {
    transform: translate(0, 0);
  }
}

/**
 * A linear fall in animation for buildings - mimics the board tiles but not on
 * a rotated grid.
 */
@keyframes fallIn {
  0% {
    transform: translateY(-150%);
  }

  75% {
    transform: translateY(2%);
  }

  100% {
    transform: translateY(0);
  }
}

/**
 * A basic fade in animation. Useful when you need specific timing that can't
 * be achieved with transition
 */
@keyframes fadeIn {
  from { opacity: 0; }

  to { opacity: 1; }
}

/**
 * A loopable bob animation that bobs up and down from the start point.
 */
@keyframes bob {
  0% { transform: translateY(10%); }

  100% { transform: translateY(-10%); }
}
